body {
  background: url("https://attachment.outlook.live.net/owa/MSA%3ADAM180%40hotmail.com/service.svc/s/GetAttachmentThumbnail?id=AQMkADAwATZiZmYAZC05ZmFiLWI1ZjMtMDACLTAwCgBGAAADxeHU0ki%2BMEqWo4RJgW6WYgcA2emy4VqqikCQtSnD4NJvcgAAAgEMAAAA2emy4VqqikCQtSnD4NJvcgAD6WOmhgAAAAESABAAlH79uc9LrkO%2BlajPjoSvYg%3D%3D&thumbnailType=2&owa=outlook.live.com&scriptVer=2020061402.02&isc=1&X-OWA-CANARY=_-FuTjYChUONa_cVhHAbK1DzkHG1FdgYcbZQ0lgb9ViI2hmgf5HKK1QAZfV2g86TaOUSIujOByY.&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjU2MzU4ODUyMzRCOTI1MkRERTAwNTc2NkQ5RDlGMjc2NTY1RjYzRTIiLCJ4NXQiOiJWaldJVWpTNUpTM2VBRmRtMmRueWRsWmZZLUkiLCJ0eXAiOiJKV1QifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2subGl2ZS5jb20iLCJ1YyI6IjA5MDk0NThlNjdiMjQ0ZmZiNjA3ZmRhMmU3YmE1MmUwIiwidmVyIjoiRXhjaGFuZ2UuQ2FsbGJhY2suVjEiLCJhcHBjdHhzZW5kZXIiOiJPd2FEb3dubG9hZEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJpc3NyaW5nIjoiV1ciLCJhcHBjdHgiOiJ7XCJtc2V4Y2hwcm90XCI6XCJvd2FcIixcInByaW1hcnlzaWRcIjpcIlMtMS0yODI3LTQ0MjM2NS0yNjc4ODMwNTc5XCIsXCJwdWlkXCI6XCIxODk5OTQ1ODg2NzI1NjE5XCIsXCJvaWRcIjpcIjAwMDZiZmZkLTlmYWItYjVmMy0wMDAwLTAwMDAwMDAwMDAwMFwiLFwic2NvcGVcIjpcIk93YURvd25sb2FkXCJ9IiwibmJmIjoxNTkyNzI0NjY3LCJleHAiOjE1OTI3MjUyNjcsImlzcyI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJhdWQiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYXR0YWNobWVudC5vdXRsb29rLmxpdmUubmV0QDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImhhcHAiOiJvd2EifQ.O7WQgUSzmXxMwDVXfnZ49a1XXzM-agKtPDFuUPClI7LjYGAh2v9SrnNyxzmTrDLtq8pMWtCUDz3TqpGxwqQN9nEiTO40XGuNtUkuBW-Q4RJJKCNONfeM3UHf3o9L89-RdPsP2S7PcyI1DoBXbxc8BkOk5lbRxbXdTTG6gzvSNVOeGMr0Z3uXj2E1s9h9kRqwn8aeFReEE119C8VtJt2ipyb2o_NIFXG-Leh-r7WV1amyaqyOhS8ZMXPSwZJcdKSTvugMeVIvTQ4bDRNxfnxvc_VQ89AO8o0N0h_xPfTNVpsRgdLj66mJAQlK_HFVoekXklK_zaMH_spTKT_GRLU3eQ&animation=true")
    no-repeat center center fixed;
  background-size: cover;
}
div {
  color: white;
}
span {
  color: red;
}
button {
  background-color: lightseagreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
